.banner {
  background-color: $color-primary;
  background-image: linear-gradient(
    to top,
    $color-primary,
    darken($color-primary, 20%)
  );
  color: $color-white;
  font-size: 2.4rem;
  min-height: 25vh;
  position: relative;
  text-align: center;

  &--large {
    min-height: 50vh;
  }
}
