.btn {
  background-color: $color-primary;
  border: none;
  border-radius: 0.4rem;
  color: $color-white;
  margin: 1.4rem 0;
  padding: 1rem 1.4rem;
  text-decoration: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.link {
  color: inherit;
}
