.footer {
  background-color: $color-dark-grey;
  color: $color-light-grey;
  font-weight: 300;
  margin-top: 10rem;
  padding: 6rem 0;

  &__container {
    @include clearfix;
  }

  &__list {
    list-style: none;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.4rem;
  }

  &__column {
    float: left;
    width: calc((100% - (#{$margin-small} * 2)) / 3);

    &:not(:last-child) {
      margin-right: $margin-small;
    }
  }
}
