.footer {
  background-color: $color-dark-grey;
  color: $color-light-grey;
  font-weight: 300;
  margin-top: 10rem;
  padding: 6rem 0;

  &__heading {
    font-size: 1.8rem;
    font-weight: 800;
  }

  &__hr {
    background-color: $color-light-grey;
    background-image: linear-gradient(
      to right,
      $color-dark-grey,
      $color-light-grey,
      $color-dark-grey
    );
    border: none;
    height: 1px;
  }
}
