.login {
  background-color: $color-primary;
  background-image: linear-gradient(
    lighten($color-primary, 20%),
    lighten($color-primary, 30%)
  );

  & h1 a {
    background-image: none;
  }
}

#wp-submit {
  background-color: $color-primary;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
