.post {
  &__title {
    margin-bottom: 1rem;
    color: $color-dark-grey;
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    line-height: 1.4;

    &--headline {
      font-size: 4.2rem;
    }

    &::after {
      background-color: $color-primary;
      bottom: -0.4rem;
      content: "";
      height: 0.4rem;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.2s;
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;

    &:hover > .post__thumbnail {
      opacity: 0.9;
      filter: saturate(0.7);
    }

    &:hover {
      .post__title::after {
        transform: scaleX(1);
      }
    }
  }

  &__date {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__thumbnail {
    opacity: 1;
    filter: saturate(1);
    height: auto;
    max-width: 100%;
    transition: all 0.2s ease-out;
    width: auto;
  }

  &__image {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

@include respond(tab-land) {
  .post {
    &__thumbnail {
      opacity: 1;
      filter: saturate(1);
    }
  }
}
