.project-panel {
  background-color: $color-dark-grey;
  box-shadow: $box-shadow;
  color: $color-light-grey;
  padding: 0 2.6rem;

  &__title {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.technologies {
  &__list {
    list-style: none;
  }

  &__item {
    font-size: 1.4rem;
  }
}
