.search {
  background-color: $color-dark-grey;
  max-height: 0;
  transition: max-height 0.2s ease;

  &--active {
    display: block;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    width: 100%;
  }

  &__results {
    min-height: 15rem;
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  &__item {
    background-color: $color-white;
    list-style: none;
    padding: 1rem;
  }

  &__link {
  }
}
