body {
  color: $color-grey;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading {
  &--primary {
    font-size: 3.6rem;
    text-transform: uppercase;
  }

  &--secondary {
    color: $color-dark-grey;
    font-size: 3.2rem;
    font-weight: 300;
  }

  &--sub {
    font-size: 2.18rem;
    font-weight: 300;
  }
}

.link {
  color: $color-primary;
  white-space: nowrap;

  &:visited {
    color: darken($color-primary, 25%);
  }
}
