.u-padding-bottom-large {
  padding-bottom: 8rem;
}

.u-padding-bottom-small {
  padding-bottom: 4rem;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-small {
  margin-top: 4rem !important;
}

.u-margin-top-tiny {
  margin-top: 2.5rem !important;
}

.u-center-text {
  text-align: center !important;
}

.u-absolute-center {
  position: absolute;
  // centre
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-hr {
  @supports not (
    background-image:
      linear-gradient(to right, transparent, $color-light-grey, transparent)
  ) {
    background-color: $color-light-grey;
  }
  background-image: linear-gradient(
    to right,
    transparent,
    $color-light-grey,
    transparent
  );
  border: none;
  height: 1px;
  margin: 3.4rem 0;
}
